{% extends 'base.html' %}
{% load static %}

{% block title %}Administration - Githumu High School{% endblock %}

{% block content %}
<section id="news"><h3>Administration</h3></section>


<div class="admin-grid">
    {% for admin in administrators %}
    <div class="admin-card">
        <img src="{{ admin.photo.url }}" alt="{{ admin.name }}">
        <h3>{{ admin.title }} {{ admin.name }}</h3>
        <h2></h2>
        <h4>{{ admin.role }}</h4> 
       

        {% if admin.subjects %} 
         <h5>Subjects: {{ admin.subjects }}</h5>
        {% endif %}
        
    </div>
    {% endfor %}
</div>  
{% endblock %}