<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Assignments - Githumu High School</title>
</head>
<body>
{% extends 'base.html' %}
{% load static %}

{% block title %}Holiday Assignments - Githumu High School{% endblock %}

{% block content %}
<section id="news"><h3>Holiday Assignments 
                <form action="{% url 'search' %}" method="get" class="search-form" style="float: right;">
    <input type="text" name="q" placeholder="Search..." required>
    <button type="submit">Search</button>
</form>

            </h3> </section>

<div class="assignments-grid"> 
    {% for item in academics %}
        
            <h3><a href="{% url 'holiday' item.id %}" class="download-btn" ><i>Assignments for {{ item.year }}</i></a></h3>
        
    {% endfor %}
</div>
{% endblock %}

</body>
</html>
