{% extends 'base.html' %}
{% load static %}

{% block title %}NEWS - Githumu High School{% endblock %}

{% block content %}
<section id="news">
<h3>NOTICE BOARD</h3>
</section>
<div class="staff-grid">
<section id="news">
    <h2>{{news.title}}</h2>
    <ul class="news-list">
       
        <li> 
            <p>
                {{news.content}}

            </p>
             
 
              {% if news.image %}
            <img src="{{ news.image.url }}" alt="{{ news.title}}">
        {% endif %}

            {% if news.mynews %}
            
             <div class="assignment-card">
        
       
        
        <a href="{{ news.mynews.url }}" class="download-btn" download>Download {{news.title}}</a>
    </div>
        {% endif %}
            
        </li>
         
       
    </ul>
</section>
</div>

{% endblock %}